    <header>
        <div id="forkongithub">
            <a href="https://github.com/sergree/matchering" target="_blank">Fork me on GitHub</a>
        </div>
        <div class="header-row">
            <nav class="header-cell">
                <ul>
                    <li><a href="https://github.com/sergree/matchering/blob/master/README.md" target="_blank">About</a></li>
                    <li><a href="https://github.com/sergree/matchering/wiki/FAQ" target="_blank">FAQ</a></li>
                    <li><a href="https://boosty.to/sergree" target="_blank">Donate</a></li>
                </ul>
            </nav>
        </div>
    </header>
