        <section id="stage-process">
            <div class="flex">
                <header class="small">
                    <h1><span class="accent">Match</span>ering <span class="accent">2.0</span></h1>
                </header>
                <div class="process-box">
                    <p class="process-text" id="process-text">...</p>
                    <svg x="0px" y="0px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.36 28.35" preserveAspectRatio="none" class="process-svg">
                        <path d="M14.18,0A14.17,14.17,0,1,0,28.36,14.17,14.19,14.19,0,0,0,14.18,0Zm7,23.43L19.75,21l-2.48,1.43,1.43,2.48a11.61,11.61,0,0,1-9,0l1.43-2.48L8.61,21,7.18,23.43a11.61,11.61,0,0,1-4.52-7.82H5.52V12.74H2.66A11.61,11.61,0,0,1,7.18,4.92L8.61,7.39,11.09,6,9.66,3.48a11.61,11.61,0,0,1,9,0L17.27,6l2.48,1.43,1.43-2.47a11.61,11.61,0,0,1,4.52,7.82H22.83v2.86H25.7A11.61,11.61,0,0,1,21.18,23.43Z"/>
                    </svg>
                </div>
                <p class="bottom-tip bottom-tip-hidden"><a id="process_cancel">&#8617; Back</a></p>
            </div>
        </section>